// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intervires{
    display: flex;
}

.intervire_name{
    margin: 20px;
}

.intervires .btn{
    height: 35px;
    margin:auto 20px;
}


