header{
    background-color: #d3d3d3;
    width: 100%;
}
.navbar-brand{
    font-size: 40px;
}

.bottons{
    margin-top: 27px;
    display: inline-block; 
}

#calendar {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
}